/***************************
      Main Body Styling
****************************/

body {
    background-color: #311e3e;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

div.container{
  padding-top: 30px;
}

div.button-area{
  float: right;

}
h1.title{
    color: #df405a;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    font-size: 55px;
}

h1.title::selection{
  color: white
}

h4{
  font-size: 25px;
  font-weight: bold;
  font-style: oblique;
}

div.radio{
  font-size: 17px;
  font-weight: bold;
  font-style: oblique;
  font-weight: 120;
}

div.disabled{
  font-size: 17px;
  font-style: oblique;
  font-weight: 120;
}
label.radio-inline{
  font-size: 17px;

  font-style: oblique;
  font-weight: 120;
}


/***************************
  Additional Button Styling
****************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}


.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

#ex1Slider .slider-selection {
    background: #BABABA;
  }
  #RGB {
    height: 20px;
    background: rgb(128, 128, 128);
  }
  #RC .slider-selection {
    background: #FF8282;
  }
  #RC .slider-handle {
    background: red;
  }
  #GC .slider-selection {
    background: #428041;
  }
  #GC .slider-handle {
    background: green;
  }
  #BC .slider-selection {
    background: #8283FF;
  }
  #BC .slider-handle {
    border-bottom-color: blue;
  }
  #R, #G, #B {
    width: 300px;
  }

/***************************
        Link Styling
****************************/
  a:hover {
       text-decoration: none;
       color: #87314e;
   }
   a:active {
       text-decoration: none;
       color: black;
   }
   a{
       color: #512645;
   }
   ::selection {
       color: #df405a;
   }
   a:active {
       color: black;
   }